<div id="form-wrapper">
    <h1>Log in </h1>
    <form id="signupForm" [formGroup]="login" (ngSubmit)="userAuthentication()">
       

        <div class="formgroup">
            <label>Email</label>
            <input type="text" name="email" id="email" formControlName="email">
        </div>

        <div  class="formgroup">
            <label>Password</label>
            <input type="password" name="password" id="password" formControlName="password">
        </div>

      

        <div class="formgroup">
            <button type="submit">Log in</button>
        </div>
        <p><a routerLink="/signup" style="color:white">New user? Sign up</a></p>
    </form>

</div>