.side-nav-bar{
    flex:0.13;
    /* border:2px solid blue; */
    background-color: var(--admin-background-color);
    color:white;
    display:flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    gap:5rem;
    /* position:sticky; */

}
.admin-links{
    display: flex;
    flex-direction: column;
    gap:2rem;
    cursor:pointer;
    /* position:sticky; */
}
.admin-links>div{
    width:100%;
    padding:0.1rem;
}
.admin-links>div:hover{
    color:gray;
    /* background-color: #645fc6; */
    width:100%

}

h1{
    text-align:center;
}
#log-out{
 margin-bottom :1rem;;
}
.main-content-wrapper{
    flex:0.9;
    /* border:2px solid green; */
    background-color: #21212d;
    
}
.top-nav-wrapper{
     background-color: var(--admin-background-color); 
     width:99.9%;
     box-shadow: 2px 2px 2px black;
     height:6rem;
     color:white;
     display: flex;
     align-items: center;
     justify-content: space-around;
     position:sticky;
}

.salutation{
    font-size: 1.2rem;
    padding:0.5rem;
  
}
.add-task-btn{
    background-color: #5d56C5;
    padding:1rem;
    border-radius: 10rem;
}
.cards-wrapper{
    display:flex;
    flex-wrap:wrap;
    gap:01rem;
    margin:1rem;
    
}
.card{
    width:20rem;
    height:12rem;
    background-color: var(--admin-cards-bg-color);
    background-color: #2c2c38;
    border:0.2px solid var(--admin-cards-bg-color);
    box-shadow: 2px 2px 2px 2px black;
    color:white;
    border-radius:10px

}

