<div class="side-nav-bar">
    <h1>Project Nerdy</h1>
    <div class="admin-links">
        <div>Users</div>
        <div>Projects</div>
        <div>Completed</div>
        
    </div>


    <div id="log-out">Log Out</div>
</div>
<div class="main-content-wrapper">
    <div class="top-nav-wrapper">
        <div class="salutation">Hi Admin</div>
        <div class="add-task-btn">Add Task</div>
    </div>
    <div class="cards-wrapper">
        <div class="card">
        </div>
        <div class="card">
        </div>
        <div class="card">
        </div>
        <div class="card">
        </div>
        <div class="card">

        </div>
        <div class="card">
        </div>
        <div class="card">
        </div>
        <div class="card">
        </div>
        <div class="card">
        </div>
        <div class="card">
        </div>
        <div class="card">
        </div>
        <div class="card">
        </div>
        <div class="card">
        </div>
        
        
    </div>
</div>