
<div class="header">
    <div class="title">
        <h1>project nerdy</h1>
    </div>
    <div class="user-options">
        <a href="#"><i class="fa fa-search fa-2x" aria-hidden="true"></i>
            <a href="#"><i class="fa fa-user fa-2x" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a>
        </a>
        <p>Welcome User</p>
    </div>
</div>
<div class="navbar">
    <a >Projects</a>
    <a >Completed</a>
</div>
<div class="project-section">
    <div class="project">
        <div class="project-title">
            <h2>Project Title</h2>
            <p>Short Description</p>
        </div>
        <div class="due-date">
            <p class="due">Due Date:</p>
            <p><span>DD/MM/YYYY</span></p>
        </div>
    </div>
</div>

<div class="cards">
    <div class="card">
        <div class="heading">
            <h3>To-Do</h3>
            <!-- <button><i class="fa fa-plus fa-2x" aria-hidden="true"></i></button> -->
        </div>
        <div class="content">
            <h3 class="task-name">Task Name</h3>
            <p class="feature">Feature</p>
            <p class="description">Description</p>
            <p class="due-date">Due Date: <span class="date">DD/MM/YYYY</span></p>
            <div class="button-container">
                <button onclick="moveInProgress(this)">Start Project</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="heading">
            <h3>In-Progress</h3>
            <button><i class="fa fa-plus fa-2x" aria-hidden="true"></i></button>

        </div>
        <div class="content">
            <h3 class="task-name">Task Name</h3>
            <p class="feature">Feature</p>
            <p class="description">Description</p>
            <p class="due-date">Due Date: <span class="date">DD/MM/YYYY</span></p>
            <!-- <button onclick="moveToDone(this)">Submit Project</button> -->

        </div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModal">&times;</span>
            <h2>Add Comments</h2>
            <form id="commentForm">
                <textarea id="commentText" placeholder="Enter your comments here"></textarea>
                <button type="submit">OK</button>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="heading">
            <h3>Done</h3>
            <button><i class="fa fa-plus fa-2x" aria-hidden="true"></i></button>
        </div>
        <div class="content">
            <h3 class="task-name">Task Name</h3>
            <p class="feature">Feature</p>
            <p class="description">Description</p>
            <p class="due-date">Due Date: <span class="date">DD/MM/YYYY</span></p>
            <div class="button-container">
                <button onclick="submitProject(this)">Submit</button>
            </div>

        </div>
    </div>
</div>